.header{
    background-image: url('banner3.png');
    background-repeat: no-repeat;
    width:100%px;
height:800px;
margin: 0;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
color:white;
text-align: right;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color:rgb(255, 244, 224)
}
/*main section*/
/*failur style*/
main{
    max-width: 1140px;
    margin:0 auto;
}

.section-failur{
    display:flex;
    gap:150px;
  
}
.failur-contant{
    width: 416px;
height: 408px;
margin-top: 364px;
}
.image{
    width:570px;
height:640px;
margin-top: 188px;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.section-sub-title{
font-weight: 400;
font-size: 16px;
color: #444343;
margin-top:24px;
margin-bottom: 24px;
}
.unorderlist{
    color: #444343;
}
.unorderlist li{
list-style: none;
}
.awesome-icon{
    color:green
}

/*plan style*/ 
.section-plan{
    margin-top:100px;
}
.plan-title{
    font-weight: 750;
    font-size: 45px;
    color: #c52e2e;
    text-align: center;
    margin-bottom: 50px;
 
}
.plan-item{
    display: flex;
}
.plan-contant{
gap:20px;
margin-left:58px;

}
/*gradiant style*/
.section-grad{
    margin-top: 50px;
    margin-left:50px;
    width:1000px;
    height:140px;
    background-image:url('/watch.png');
    border-radius: 8px;
}
.padding{
    padding:30px;
}
.grad-title{
color:white;
}
/*footer style*/
.footer-section{
    margin-top: 40px;
    display: flex;
    background-color: #151414;
    

}
.footer-title{
    color:white;

}
.footer-item{
    gap:20px;
margin-left: 140px;
margin-top: 40px;
margin-right:220px;
}
.footer-sub-title{
    color:white;
}
.input-cls{
    margin-bottom: 10px;
    width: 200px;
    height:24px;
    border:2px solid rgb(212, 198, 198);
    background-color: rgb(219, 219, 219);
}